@use "/src/sass/base/variables.scss" as *;

.footer {
    padding: 100px 20px 60px 20px;
    background: $dark-button;

    &__nav {
        display: flex;
        column-gap: 76px;
        flex-wrap: wrap;

        ul {
            display: flex;
            flex-direction: column;
            margin-top: 29px;
            row-gap: 24px;
            padding: 0;
            list-style-type: none;
        
            a {
                text-decoration: none;
                transition: all 0.3s ease-out;
            }

            a:hover {
                color: $light;
            }
        }
    }

    &__header {
        color: #FDFDFD;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 17px;
    }

    &__text {
        color: #E3E3E3;
        font-family: Poppins, Montserrat, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 13px;
    }

    &__wrapper {
        margin-top: 130px;
        display: flex;
        justify-content: space-between;
        height: 47px;
        align-items: center;
    }

    &__item {
        display: flex;
        align-items: center;

        &-text {
            font-size: 16px;
            line-height: 11px;
        }
    }

    &__logo {
        display: flex;
        column-gap: 10px;


        &-img {
            width: 38px;
            height: 36px;
        }

        &-info {
            position: relative;
            top: 4px;
            display: flex;
            row-gap: 10px;
            flex-direction: column;

            .footer__text {
                font-size: 12px;
                line-height: 8px;
            }
            
        }
    }
    
    &__title {
        color: #FDFDFD;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 14px;
    }
    
    &__divider {
        width: 1px;
        height: 39px;
        background: #EAEAEA;
        margin: 0 42px 0 54px;
    }
    
        &__block {
    
            a {
                color: #E3E3E3; 
                text-decoration: none;
                font-family: Montserrat;
                font-size: 16px;
                line-height: 11px;
            }
        }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 60px 20px 40px 20px;

        &__header {
            font-size: 22px;
        }

        &__text {
            font-size: 16px;
        }

        &__wrapper {
            margin-top: 100px;
        }

        &__item {

            &-text {
                font-size: 14px;
            }
        }

        &__block {

            a {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .footer {
        padding: 60px 15px 40px 15px;

        &__header {
            font-size: 18px;
        }

        &__text {
            font-size: 14px;
        }

        &__wrapper {
            margin-top: 80px;
        }

        &__item {

            &-text {
                font-size: 10px;
            }
        }

        &__divider {
            display: none;
        }

        &__logo {
            column-gap: 6px;
            margin-right: 20px;

            &-info {
                row-gap: 8px;

                .footer__text {
                    font-size: 9px;
                    line-height: 8px;
                }

            }
        }

        &__title {
            font-size: 16px;
        }

        &__nav {
            row-gap: 40px;

            ul {
                margin-top: 24px;
                row-gap: 14px;
                padding: 0;
            }
        }

        &__block {

            a {
                font-size: 10px;
            }
        }
    }
}