@use "/src/sass/base/variables.scss" as *;

.home {
    padding-top: 34px;
    background: url("/src/img/home/bg.png") bottom center / contain no-repeat;
    // background-attachment: fixed;
    background-position-y: 490px;

    &__wrapper {
        margin-top: 206px;
    }

    &__title-h1 {
        color: $dark-titles;
        text-align: center;
        font-family: Montserrat;
        font-size: 70px;
        font-weight: 600;
        line-height: 70px;
        text-transform: capitalize;
        
        span {
            background: linear-gradient(270deg, #D251FF 2.65%, #FE911E 97.45%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
        }
    }

    &__title-h2 {
        margin-top: 16px;
        color: #6A6A6A;
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
    }

    &__btns {
        display: flex;
        justify-content: center;
        column-gap: 25px;
        margin-top: 20px;
    }

    &__btn {
        font-size: 18px;
        font-family: Poppins;
        padding: 12px 36px;
    }

    &__pictures {
        margin-top: 64px;
        position: relative;
        &-img {
            padding: 0 90px;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            top: 50%;
            margin: 0 91px;
            background: linear-gradient(0deg, #FFF 0%, rgba(253, 253, 253, 0.00) 100%);
        }
                
    }
}

@media screen and (max-width: 1100px) {
    .home {
        padding-top: 50px;
        background-position-y: 454px;   

        &__wrapper {
            margin-top: 170px;
        }

        &__title-h1 {
            font-size: 55px;
            line-height: 55px;
        }

        &__title-h2 {
            margin-top: 12px;
            font-size: 16px;
        }

        &__btns {
            column-gap: 20px;
            margin-top: 20px;
        }

        &__btn {
            font-size: 14px;
        }

        &__pictures {
            margin-top: 54px;

            &-img {
                padding: 0 40px;
            }

            &::before {
                margin: 0 40px;
            }

        }
    }    
}

@media screen and (max-width: 900px) {
    .home {
        background-position-y: 434px;

        &__wrapper {
            margin-top: 150px;
        }

        &__title-h1 {
            font-size: 45px;
            line-height: 45px;
        }

        &__title-h2 {
            margin-top: 10px;
            font-size: 14px;
        }

        &__btns {
            column-gap: 15px;
        }

        &__pictures {
            margin-top: 44px;

            &-img {
                padding: 0 20px;
            }

            &::before {
                margin: 0 19px;
                top: 30%;
                background: linear-gradient(0deg, #FFF 0%, rgba(253, 253, 253, 0.00) 100%);
            }

        }
    }
}

@media screen and (max-width: 768px) {
    .home {
        background-position-y: 394px;

        &__wrapper {
            margin-top: 120px;
        }

        &__title-h1 {
            font-size: 35px;
            line-height: 35px;
        }

        &__title-h2 {
            margin-top: 8px;
            font-size: 12px;
        }

        &__btns {
            column-gap: 15px;
            margin-top: 15px;
        }

        &__btn {
            font-size: 12px;
        }

        &__pictures {
            margin-top:34px;

            &-img {
                padding: 0 10px;
            }

            &::before {
                margin: 0 10px;
            }

        }
    }
}

@media screen and (max-width: 560px) {
    .home {
        background-position-y: 344px;

        &__wrapper {
            margin-top: 100px;
        }

        &__title-h1 {
            font-size: 25px;
            line-height: 25px;
        }

        &__title-h2 {
            margin-top: 6px;
            font-size: 9px;
        }

        &__btns {
            column-gap: 10px;
            margin-top: 15px;
        }

        &__btn {
            font-size: 10px;
            padding: 8px 26px;
        }

        &__pictures {
            margin-top: 24px;

            &-img {
                padding: 0 0px;
            }

            &::before {
                margin: 0 0px;
            }

        }
    }
}

@media screen and (max-width: 450px) {
    .home {
        background-position-y: 294px;

        &__wrapper {
            margin-top: 80px;
        }

        &__title-h1 {
            font-size: 21px;
            line-height: 21px;
        }

        &__title-h2 {
            margin-top: 4px;
            font-size: 7px;
        }

        &__btns {
            column-gap: 8px;
            margin-top: 10px;
        }

        &__btn {
            font-size: 9px;
            padding: 6px 24px;
        }

        &__pictures {
            margin-top: 20px;
        }
    }
}