@use "/src/sass/base/variables.scss" as *;

.start {
    padding-top: 115px;
    padding-bottom: 100px;
    &__title {
        line-height: 100%;
    }

    &__wrapper {
        margin: 0 auto;
        margin-top: 70px;
        width: 960px;
        border-radius: 29.176px;
        border: 2.431px solid #D1D1D1;
        background: rgba(255, 255, 255, 0.90);
        position: relative;

        &-text {
            margin: 60px 60px 0 60px;
            color: $dark-big-text;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 400;
            line-height: normal;

            ul {
                list-style-type: "– ";
            }
        }

        &-btn {
            margin: 40px auto 21px auto;
            color: #DADADA;
            padding:16px 42px;
            font-family: Poppins;
            font-size: 18px;
            line-height: 20px;
        }

        &-btn:hover {
            color: $light;
            background-color: $dark-titles;
        }
        
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            top: -80px;
            left: 734px;
            width: 304px;
            height: 304px;

            background: radial-gradient(circle, rgba(210, 81, 255, 0.40), transparent 100%);
            filter: blur(76px);
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            top: 400px;
            left: -100px;
            width: 304px;
            height: 304px;
        
            background: radial-gradient(circle, rgba(254,145,30,0.40), transparent 100%);
            filter: blur(76px);
            z-index: -1;
        }

        a {
            text-decoration: none;
        }       
    }
}

@media screen and (max-width: 1200px) {
    .start {
        padding-top: 100px;
        padding-bottom: 100px;

        &__wrapper {

            margin-top: 70px;
            width: 700px;

            &-text {
                margin: 30px 30px 0 30px;
                font-size: 16px;
            }

            &::before {
                left: 434px;
                width: 304px;
                height: 304px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .start {
        &__wrapper {
            width: 690px;

            &-text {
                margin: 30px 30px 0 30px;
                font-size: 15px;
            }

            &::after {
                left: -50px;
                width: 304px;
                height: 304px;
            }

            &::before {
                left: 400px;
                width: 304px;
                height: 304px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .start {
        &__wrapper {
            width: 560px;

            &-text {
                margin: 20px 10px 0 10px;
                font-size: 12px;
            }

            &-btn {
                margin: 20px auto 11px auto;
                padding: 12px 30px;
                font-size: 12px;
                line-height: 12px;
            }

            &::after {
                top: 250px;
                left: -100px;
                width: 204px;
                height: 204px;
            }

            &::before {
                top: -40px;
                left: 340px;
                width: 204px;
                height: 204px;
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .start {
        padding-top: 80px;
        padding-bottom: 70px;

        &__wrapper {
            margin-top: 40px;
            width: 100%;

            &-text {
                margin: 20px 10px 0 10px;
                font-size: 11px;

                ul {
                    padding-left: 10px;
                }
            }

            &::after {
                top: 250px;
                left: -100px;
                width: 204px;
                height: 204px;
            }

            &::before {
                top: -40px;
                left: 170px;
                width: 204px;
                height: 204px;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .start {
        padding-top: 80px;
        padding-bottom: 70px;

        &__wrapper {

            &-text {
                margin: 20px 10 px 0 0px;
                font-size: 11px;
        
                ul {
                    padding-left: 10px;
                }
            }

            &::after {
                top: 250px;
                left: -100px;
                width: 204px;
                height: 204px;
            }

            &::before {
                top: -40px;
                left: 130px;
                width: 154px;
                height: 154px;
            }
        }
    }
}