.taskbar {
    padding-top: 81px;

    &__img {
        width: 100%;
        object-fit: cover;
        transition: opacity 1.5s ease-in-out;
    }
}

@media screen and (max-width: 768px) {
    .taskbar{
        padding-top: 61px;

        &__img {
            transform-origin: right center;
            transform: scale(2);
        }
    }   
}

@media screen and (max-width: 400px) {
    .taskbar {
        padding-top: 40px;
    }
}